.college-card {
    display: flex;
    flex-direction: column;
    height: 280px;
    border: 1px solid black;
}

.college-header{
    padding: 10px;
    flex: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://localhost:3000/college_02.jpg);
}

.college-info {
    flex:2;
}